<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

	<div class="jumbotron text-center">
		<hr>
		<div class="row">
			<form class="form-signin" action="add" method="post">
				<button class="btn btn-lg btn-primary btn-block btn-signin" id="add"
					type="submit">Add</button>
			</form>
		</div>
		<div class="row">
			<form class="form-signin" action="user2" method="post">
				<button class="btn btn-lg btn-primary btn-block btn-signin"
					id="user2" type="submit">personnal information</button>
			</form>
		</div>
		<div class="row">
			<form class="form-signin" action="user3" method="post">
				<button class="btn btn-lg btn-primary btn-block btn-signin"
					id="user3" type="submit">user3</button>
			</form>
		</div>
		<div class="row">
			<form class="form-signin" action="user4" method="post">
				<button class="btn btn-lg btn-primary btn-block btn-signin"
					id="user4" type="submit">user4</button>
			</form>
		</div>
		<!-- row -->
		<div class="alert alert-info text-center" role="alert">Please do
			work through the Getting Started guide, even if you do know how to
			build such an application. The guide covers the basics of working
			with Heroku, and will familiarize you with all the concepts you need
			in order to build and deploy your own apps.</div>
	</div>
	<script type="text/javascript">
		$("button#add").click(function() {
			window.open("/add", "_self")
		})
		$("button#user2").click(function() {
			window.open("/user2", "_self")
		})
		$("button#user3").click(function() {
			window.open("/user3", "_self")
		})
		$("button#user4").click(function() {
			window.open("/user4", "_self")
		})
	</script>
</body>

</html>
